html {
    background-color: $tealVariant;
}

body {
    background-color: $white;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

body.bm-overlay {
    background: transparent;
}

/* Works on Firefox */
* {
    scrollbar-color: $scrollBarBlack $scrollBarTeal;
    scrollbar-width: auto;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: $teal;
}

*::-webkit-scrollbar-thumb {
    background-color: $scrollBarBlack;
    border: 3px solid $scrollBarTeal;
    border-radius: 5px;
}

*::selection {
    background-color: $lightTeal;
    color: $darkTeal;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.colorContainer {
    main::-webkit-scrollbar {
        display: none;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    a {
        padding: 2px;
        transition: all 0.1s;
    }

    p {
        margin: 10px 0;
    }

    main {
        @include height100Relative;
    }
    main:not(.mainH)::after {
        content: " ";
        display: block;
        left: 0px;
        width: 100%;
        top: 98.6%;
        z-index: 999;
    }

    main:not(.mainH)::after {
        transition: background-size 2s;
    }

    main.mainP::after {
        top: 99.6%;
    }

    section {
        min-height: 97vh;
        padding: 40px 0;
        @include flexColumnCentered;
        @include makeCenteredFlexBox;
    }

    section,
    footer {
        position: relative;
    }

    footer {
        z-index: 30;
    }

    form,
    label,
    button {
        font-family: "Poppins", sans-serif;
    }

    form {
        label {
            color: $black;
        }
    }

    fieldset {
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-block-start: 0;
        padding-block-end: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
        border: none;
        min-inline-size: min-content;
    }

    button:active {
        outline: none;
    }

    label {
        font-size: 1.1rem;
    }

    label[for="email"] {
        margin-left: 18px;
    }

    input,
    textarea {
        border: none;
        caret-color: $darkTeal;
        font-family: "Rubik", sans-serif;
        font-size: 0.8rem;
    }

    textarea {
        padding-left: 15px;
        padding-top: 15px;
        resize: vertical;
    }

    input[type="text"],
    input[type="email"] {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        border-radius: 20px 3px 0px 20px;
        background: $white;
        color: $black;
    }

    input:focus-visible,
    textarea:focus-visible {
        outline: 2px solid $teal;
    }

    [v-cloak] {
        display: none;
    }
}
