body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* Works on Firefox */
* {
  scrollbar-color: rgba(0, 5, 15, 0.82) rgba(23, 162, 170, 0.82);
  scrollbar-width: auto;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: $teal;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 5, 15, 0.82);
  border: 3px solid rgba(23, 162, 170, 0.82);
  border-radius: 5px;
}

main {
  position: relative;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.15rem;
}

a {
  padding: 2px;
  transition: all 0.1s;
}

p {
  color: $grayPText;
  margin: 10px 0;
}

section {
  padding: 40px 0;
}

section,
footer {
  position: relative;
  z-index: 20;
}

form,
label,
button {
  font-family: "Rubik", sans-serif;
}

button:active {
  outline: none;
}

label {
  font-size: 1.1rem;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: vertical;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 5px;
  background: $white;
  color: $black;
  padding: 10px;
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid $teal;
}
