.colorContainer {
    .wrapper {
        max-width: 1100px;
        width: 85%;
        margin: 0 auto;
    }

    .mainDiv {
        display: block;
        height: 96vh;
        position: relative;
    }

    .sr-only /*:not(:focus):not(:active)*/ {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px); /* future proofing */
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        white-space: nowrap; /* added line */
    }

    .flexBox {
        display: flex;
    }

    .black {
        color: $black !important;
    }

    .white {
        color: $white !important;
    }

    .show {
        display: block;
    }

    .hide {
        display: none !important;
    }

    .static {
        position: static !important;
    }
    .rotate180 {
        transform: rotate(180deg);
    }

    .iconContainer.contactJump {
        align-items: center;
        color: $white;
        justify-content: center;
        position: relative;
        z-index: 10;
        button {
            padding: 10px 20px;
        }
        button:active {
            padding: 10px 20px;
        }
        svg {
            color: $black;
            font-size: 1.2rem;
            margin-left: 20px;
        }
    }

    .noTransition {
        transition: all 0s;
    }

    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.3s ease;
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }

    a.whiteOutline:focus {
        outline: 2px solid $white;
    }

    a.blackOutline:focus {
        outline: 2px solid $black;
    }

    .relativeColumnBox {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        position: relative;
    }
    .relativeColumnBox:not(.projectsRelColBox, .homeRelColBox, .homeBodyRelColBox, .errorRelColBox, .errorNavRelColBox) {
        background: rgb(229, 232, 238);
        background: $columnBoxGradient;
        z-index: 20;
    }

    .skillsRelColBox {
        background: rgb(229, 232, 238);
        background: $columnBoxGradient;
        z-index: 20;
    }

    .styledButton {
        background: $buttonGradient;
        background-color: rgba(0, 0, 0, 0);
        background-color: $grayTeal;
        border: none;
        border-radius: 8px;
        box-shadow: 0 10px 14px -7px #16595c;
        color: $black;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        text-shadow: 0 1px 0 #469ea3;
    }
    .styledButton:active {
        border: none;
        outline: none;
    }
    
}
//  * animate.css - https://animate.style/
//  * Version - 4.1.1
//  * Licensed under the MIT license - http://opensource.org/licenses/MIT
//  *
//  * Copyright (c) 2020 Animate.css

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (prefers-reduced-motion: reduce), print {
    .animate__animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
    .animate__animated[class*='Out'] {
        opacity: 0;
    }
}

@-webkit-keyframes backInLeft {
    0% {
        -webkit-transform: translateX(-2000px) scale(0.7);
        transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: translateX(0) scale(0.7);
        transform: translateX(0) scale(0.7);
        opacity: 0.7;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes backInLeft {
    0% {
        -webkit-transform: translateX(-2000px) scale(0.7);
        transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: translateX(0) scale(0.7);
        transform: translateX(0) scale(0.7);
        opacity: 0.7;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes backInLeft {
    0% {
        -webkit-transform: translateX(-2000px) scale(0.7);
        transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: translateX(0) scale(0.7);
        transform: translateX(0) scale(0.7);
        opacity: 0.7;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.animate__backInLeft {
    -webkit-animation-name: backInLeft;
    animation-name: backInLeft;
}

.animate__backInLeft {
    -webkit-animation-name: backInLeft;
    animation-name: backInLeft;
}
@-webkit-keyframes headShake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes headShake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.animate__headShake {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: headShake;
    animation-name: headShake;
}

@-webkit-keyframes backOutRight {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    20% {
        -webkit-transform: translateX(0) scale(0.7);
        transform: translateX(0) scale(0.7);
        opacity: 0.7;
    }
    to {
        -webkit-transform: translateX(2000px) scale(0.7);
        transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }
}
@keyframes backOutRight {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    20% {
        -webkit-transform: translateX(0) scale(0.7);
        transform: translateX(0) scale(0.7);
        opacity: 0.7;
    }
    to {
        -webkit-transform: translateX(2000px) scale(0.7);
        transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }
}
.animate__backOutRight {
    -webkit-animation-name: backOutRight;
    animation-name: backOutRight;
}

.animate__bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
@keyframes bounce {
    0%,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(
            0.755,
            0.05,
            0.855,
            0.06
        );
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(
            0.755,
            0.05,
            0.855,
            0.06
        );
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translateZ(0) scaleY(0.95);
        transform: translateZ(0) scaleY(0.95);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}
