footer,
footer p {
  color: $white;
}
.contactWrapper h2,
.contactWrapper a {
  margin: 10px 0;
}
.contactWrapper {
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    margin: 10px 0 20px;
    > a {
      padding: 5px;
    }
    > a {
      color: $teal;
    }
   
    a:focus {
      outline: 2px solid $white;
    }
    
    .contactIcons {
      font-size: 2em;
      width: 135px;
      a {
        padding: 0 5px;
      }
    }
  }

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 30px 0 0;
  .bottom {
      justify-content: flex-end;
      width: 50%;
      margin: 10px 0 20px;
    }
}

.borderlessFooter {
    border-top: none;
  }
.nameSeparator {
  margin: 0 6px;
}

i.fa-grip-lines-vertical {
  font-size: 84%;
}

.homeMain + footer {
        height: 8vh;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        right: 20%;
        border: 0;
    .contactComponent {
          display: none;
        }
    .bottom {
    width: 100%;
  }
}