.colorContainer {
    footer {
        box-shadow: inset 0px 0px 0px 0px $white;
        display: flex;
        justify-content: center;
        padding: 15px 0 10px;
        @include flexColumnCentered;
        .bottom {
            margin: 10px 0 20px;
            padding-bottom: 15px;
            width: 100%;
            @include centerFlexXY;
            p {
                padding: 0px 20px 0 0;
            }
            a {
                align-items: center;
                color: $teal;
                font-size: 1.1rem;
                font-weight: 500;
                margin-right: 1px;
                max-height: 40px;
                min-width: 145px;
                padding: 3px 5px;
                position: relative;
                @include makeBetweenFlexBox;

                .resumeSvg {
                    font: bold 70px "Rubik", sans-serif;
                    font-size: 1rem;
                    width: 100%;
                    height: 120px;
                    text {
                        fill: $teal;
                        stroke: $black;
                        stroke-width: 0.5px;
                        stroke-linejoin: round;
                    }
                }
                svg:last-of-type {
                    position: relative;
                    left: 8px;
                }
            }
            a:focus {
                outline: none;
            }
            a:focus::before {
                border: 1px solid $white;
                bottom: auto;
                left: 0;
                min-height: 39px;
                max-width: 122px;
                width: 100%;
                @include pseudoAbsolute;
            }

            a.resume:focus:active:before {
                border: none;
            }
        }
    }

    .backToTop {
        background: $grayTeal;
        font-size: 0.9rem;
        margin: 5px auto;
        padding: 8px;
        text-transform: capitalize;
    }

    .contactWrapper {
        align-items: flex-start;
        flex-direction: column;
        margin: 20px 0;
        width: 60%;
        .contactBox {
            justify-content: space-between;
            width: 100%;
            .contactHeading {
                font-size: 1.8rem;
                line-height: 2.1;
            }
        }
        > a {
            padding: 5px;
        }
        > a {
            color: $teal;
        }

        a:focus {
            outline: 2px solid $white;
        }

        .contactIcons {
            align-items: center;
            justify-content: flex-end;
            width: 135px;
            a {
                padding: 0 5px;
            }
            a {
                font-size: 2rem;
            }
            a:first-child {
                margin: 0 60px 0 0;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        .fieldsetBox {
            flex-direction: column;
            margin: 0 auto 10px;
            padding: 0 30px;
            width: 100%;
        }
        .inputBox {
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            @include makeBetweenFlexBox;
            input {
                width: 100%;
                height: 45px;
            }
        }
        .contactFormButton {
            align-self: center;
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            margin-top: 30px;
            padding: 13px 32px;
            width: 50%;
            @include buttonGradient;
        }
        .contactFormButton:active {
            outline: none;
            position: relative;
            top: 1px;
        }

        label {
            margin: 9px 10px 9px 0;
        }
        label[for="email"] {
            margin-top: 12px;
        }
        .fieldsetBox > label:nth-child(2) {
            font-size: 1.085rem;
            margin-bottom: 15px;
        }

        textarea {
            min-height: 200px !important;
            position: relative;
        }

        textarea::-webkit-resizer {
            border: 1.5px solid $teal;
            background-color: $teal;
            background-image: url("../../assets/img/angles-down-solid.png");
            background-size: contain;
            position: relative;
        }
    }

    i.fa-grip-lines-vertical {
        font-size: 84%;
    }

    .mainH + footer {
        align-items: center;
        background-color: transparent;
        border: 0;
        bottom: 0;
        height: 10vh;
        position: absolute;
        width: 100%;
        .bottom {
            width: 85%;
            justify-content: flex-end;
        }
    }

    .formBackground {
        background-color: rgba(178, 212, 214, 0.918);
        border: 3px solid #00050f;
        padding: 45px 30px;
        width: 100%;
    }
}
