.colorContainer header.scrolledToMain {
    box-shadow: -9px 29px 16px 32px $black;
}
.colorContainer header.relativeHeader {
    + main .about,
    + main .skills,
    + main .errorSection {
        transition: padding 0.5s;
        padding: 40px 0 160px;
    }
}

.colorContainer header.whiteBackground:not(.transparentBackground) {
    background-color: $white;
    background-image: url("../img/cross-scratches.png");
    &::after {
        background-color: $white;
        background-image: url("../img/cross-scratches.png");
    }
}

.colorContainer header.blackBackground:not(.transparentBackground) {
    background-color: $black;
    background-image: url("../img/cross-scratches-inverted.png");
    &::after {
        background-color: $black;
        background-image: url("../img/cross-scratches-inverted.png");
    }
}

.colorContainer header.transparentBackground {
    background-color: transparent;
    &::after {
        background-color: transparent;
    }
}

.colorContainer header {
    transition: all 0, padding 0.5s;
    align-items: center;
    overflow: hidden;
    position: absolute;
    height: 18vh;
    min-height: 130px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    &::after {
        transition: all 0s;
        content: "";
        min-height: 75px;
        position: absolute;
        top: 0;
        height: 9vh;
        width: 100vw;
        z-index: -1;
    }
    * {
        transition: all 0.5s;
    }
    .skip-link {
        background: $teal;
        border-radius: 3px;
        color: $black;
        left: -1000px;
        margin-left: 7px;
        padding: 15px 15px;
        position: absolute;
        top: 5px;
        z-index: 9999;
    }

    .skip-link:focus {
        left: 0;
    }

    .favLink {
        display: block;
        margin: 22px;
        max-width: 4.5%;
        min-width: 50px;
        padding: 1px;
        position: absolute;
        left: -5px;
        top: 0;
        transition: top 0s;
        z-index: 999;
        img {
            padding: 4px;
        }
    }
    .favLink:focus {
        outline: none;
    }
    .blackOutline:focus {
        img {
            outline: 2px solid $black;
        }
    }
    .whiteOutline:focus {
        img {
            outline: 2px solid $white;
        }
    }
    .relativeColumnBox {
        transition: all 1s, transform 0.1s;
    }
    .navBox {
        align-items: flex-start;
        border-radius: calc(50px + 12%);
        height: 100%;
        justify-content: flex-end;
        padding: 28px 0px;
        position: relative;
        transition: flex-direction 1s, width 1s, background 0.2;
        nav {
            transition: margin 0.3s, width 0.6s;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            width: 75%;
            height: 100%;
            ul {
                align-items: center;
                display: flex;
                justify-content: space-between;
                position: relative;
                transition: all 0s;
                width: 100%;
                height: 100%;
                li:first-child,
                li:nth-child(2) {
                    transition: transform 0.7s;
                }
                li:nth-child(3),
                li:last-child {
                    transition: transform 0.5s;
                }
                a {
                    border-bottom: 1px solid transparent;
                    line-height: 1;
                    margin: 10px;
                    position: relative;
                }
                a:focus {
                    outline: none;
                }
            }

            ul.mainNavList {
                z-index: 999;
                a::after,
                a::before {
                    content: "";
                    position: absolute;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    -webkit-transition: 0.5s $navLinkTransition;
                    -o-transition: 0.5s $navLinkTransition;
                    transition: 0.5s $navLinkTransition;
                    width: 0;
                    left: 50%;
                    top: 100%;
                }
                a::after {
                    background: linear-gradient(to right bottom, $grayTeal 5%, #17a2aa);
                    border-radius: 50px;
                    margin-top: 8px;
                    height: 2.5px;
                }
                a:focus::after {
                    width: 100%;
                }
                a::before {
                    background: linear-gradient(to top, rgba(72, 216, 240, 0.38) 20%, rgba(65, 109, 255, 0.17));
                    border-radius: 90%;
                    box-shadow: 0 0 1000px rgba(192, 219, 255, 0.38), 0 0 12px rgba(65, 109, 255, 0.17);
                    height: 2px;
                    margin-top: 9px;
                    opacity: 0.8;
                }
                a:focus::before {
                    width: 95%;
                }
            }
        }
        .toggle-wrapper {
            bottom: 2px;
            margin-left: 85px;
            padding: 0 4px 0px 10px;
            position: relative;
            right: 15px;
            transition: all 1s, transform 0.6s;
            width: 78px;
        }

        .toggle-wrapper.safariToggle {
            div.themeToggleBox::before {
                width: 30%;
            }

            div.themeToggleBox.enabled::before,
            div.themeToggleBox.disabled::before {
                left: 13%;
            }
        }
        .themeToggleWrapper {
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 10;
            .mode {
                font-size: 0.57rem;
                letter-spacing: 0.5px;
                justify-content: center;
                margin-bottom: 5px;
                opacity: 0.9;
                text-align: left;
                width: 100%;
                span:first-child {
                    white-space: nowrap;
                }
                + span.flexBox {
                    justify-content: center;
                    position: relative;
                    width: 100%;
                    .show {
                        display: inline-block;
                        position: absolute;
                        z-index: 30;
                        svg:first-of-type {
                            backdrop-filter: opacity(0%);
                            opacity: 0.9;
                            font-size: 1.2em;
                        }
                    }
                    .show.lightsOn {
                        right: 27%;
                        top: 32%;
                    }
                    .show.lightsOff {
                        left: 29%;
                        top: 33%;
                    }
                    svg {
                        background-color: transparent;
                        color: $white;
                        font-size: 0.62rem;
                        padding: 0;
                    }
                    svg.fa-toggle-on:last-child {
                        color: $white;
                        font-size: 2rem;
                        opacity: 0.8;
                    }
                }
            }
        }
        .themeToggleBox {
            background: $black;
            border: 1px solid rgba(229, 232, 238, 0.6);
            border-radius: 40px;
            padding: 12px;
            position: relative;
            margin: auto;
            height: 100%;
            width: 90%;
            cursor: pointer;
            span.flexBox {
                position: relative;
                .show {
                    display: inline-block;
                    line-height: 1;
                    position: absolute;
                    z-index: 30;
                    svg {
                        backdrop-filter: opacity(0%);
                        background-color: transparent;
                        color: $white;
                        font-size: 0.72rem;
                        opacity: 0.9;
                        padding: 0;
                    }
                }
                .show.lightsOn,
                .show.lightsOff {
                    bottom: -9px;
                }
                .show.lightsOn {
                    left: 63%;
                }
                .show.lightsOff {
                    right: 63%;
                }
            }
        }
        .themeToggleBox::before {
            border-radius: 30px;
            bottom: 20%;
            left: 14%;
            content: "";
            display: block;
            opacity: 0.95;
            position: absolute;
            transform: translate(0);
            transition: transform 0.5s ease;
            height: 61%;
            width: 30%;
            z-index: 2;
        }
        div.themeToggleBox.safariToggle::before {
            width: 20%;
        }
        div.themeToggleBox.safariToggle.enabled::before {
            left: 30%;
        }
        div.themeToggleBox.safariToggle.disabled::before {
            left: 20%;
        }
        .themeToggleBox.enabled::before {
            background: #158827;
        }
        .themeToggleBox.disabled::before {
            background: #932520;
        }
        .themeToggleBox.enabled::before {
            transform: translateX(21px);
        }
        .themeToggleBox.disabled::before {
            left: 12%;
        }
        .themeToggleBox input {
            opacity: 0;
            position: absolute;
            left: 15px;
            top: 5px;
            z-index: 20;
        }
        .themeToggleBox input:focus {
            + span.flexBox::before {
                border: 1px solid $teal;
                bottom: -22px;
                content: "";
                left: -28px;
                min-height: 57px;
                position: absolute;
                height: 7vh;
                width: 80px;
            }
        }
        .themeToggleBox input:active {
            + span.flexBox::before {
                border: none;
            }
        }

        button.lightDarkButton.secondButton {
            display: none;
        }
    }
}
