.colorContainer {
    .skillsMain {
        min-height: initial;
    }
    .skills {
        padding: 120px 0 75px;
        .wrapper {
            .flexBox {
                @include flexColumnCentered;
                h1 {
                    margin-bottom: 30px;
                }
            }
        }
        .iconContainer.contactJump {
            margin-top: 45px;
        }
    }

    .noAnimation {
        animation: none !important;
    }

    .skillsGallery {
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-top: 20px;
        width: 80vw;
        li {
            display: flex;
            @include flexColumnCentered;
            .skillsIconBox {
                padding: 0 10px;
                width: 100%;
                @include makeCenteredFlexBox;
                i,
                svg {
                    font-size: 2.5rem;
                    text-align: center;
                    width: 100%;
                    max-width: 75px;
                }
                .fa-universal-access {
                    font-family: "Font Awesome 5 Free";
                }
            }
            p {
                text-align: center;
            }
        }
    }
}
