.about {
  background-color: #f6f6f6;
  padding: 100px 0;
  .wrapper {
    display: flex;
    .about1,
    .about2 {
      display: flex;
      flex-direction: column;
      width: 50vw;
    }
    figcaption {
      display: flex;
      font-weight: 500;
      justify-content: space-between;
    }
    .captionNumber {
      color: #17a2aa;
      font-weight: 400;
    }
  }
}

.about1 figure {
  margin: 20px 0 0;
  max-width: 50%;
}

.about2 {
  justify-content: center;
}
