footer,
footer p {
  color: #e5e8ee;
}

.footerBody h2,
.footerBody a {
  margin: 10px auto;
}

footer {
  padding: 10px 0;
  .footerBody {
    align-items: center;
    flex-direction: column;
    padding: 65px 0;
    > a {
      padding: 5px;
    }
    > a {
      color: #17a2aa;
    }
    > a:hover {
      color: #e5e8ee;
    }
     > a:active {
      color: #17a2aa;
    }
    a:focus {
      outline: 2px solid #e5e8ee;
    }
    a:active {
      outline: none;
    }

    .fa-linkedin:hover,
    .fa-github:hover {
      color: #17a2aa;
    }

    .fa-linkedin:active,
    .fa-github:active {
      color: #e5e8ee;
    }
    .contactIcons {
      font-size: 2em;
      width: 135px;
      a {
        padding: 0 5px;
      }
    }

    .bottom {
      justify-content: flex-end;
    }
  }
}

.nameSeparator {
  margin: 0 6px;
}

i.fa-grip-lines-vertical {
  font-size: 84%;
}
