/* Portrait tablet and small desktops */
@media (max-width: 1030px) {
  .headerBodyFlexBox a.tealContactButton {
    width: 60%;
  }
  header {
    .navBox nav {
      width: 75%;
    }
  }

  header {
    .navBox {
      nav {
        .contactIcons {
          .headerSocialBox {
            min-height: 40vh;
          }
        }
      }
    }
  }
}

// If using window with reduced height don't collapse header social icons background
@media (max-height: 500px) {
  header {
    .navBox {
      nav {
        .contactIcons {
          .headerSocialBox {
            min-height: 40vh;
          }
        }
      }
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 780px) {
  .line {
    margin: -9px 0 0;
  }

  .about {
    padding-top: 145px;
    > .wrapper {
      align-items: center;
      flex-direction: column;
      .about2 {
        width: 90%;
      }
    }
  }

  .headerFlexWrapper .headerBodyFlexBox {
    margin-top: 20px;
    width: 100%;
    h1 {
      margin-top: 30px;
    }
    p {
      margin-bottom: 20px;
    }
    .iconContainer {
      display: none;
    }
    h2 {
      margin-bottom: 2px;
    }
  }

  .headerBodyFlexBox a.tealContactButton {
    width: 50%;
  }

  header .chevronLink {
    top: 90%;
    left: 77%;
    .fa-chevron-down {
      font-size: 1.8rem;
    }
  }

  header {
    .navBox {
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 20px;
      nav {
        width: 100%;
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-row-gap: 20px;
          width: 100%;
          li {
            display: flex;
            .aboutLink {
              .me {
                display: none;
              }
              .sr-only {
                display: inline;
              }
            }
          }
          .col1 {
            justify-content: flex-start;
          }
          .col2 {
            justify-content: center;
          }
          .col3 {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .searchBox {
    margin: 30px 0 0;
    .searchInputOpen {
      width: 100%;
    }
  }
  .projects {
    padding: 85px 0 40px;
    .projectBox {
      flex-direction: column;
      .imgBox {
        img {
          margin-top: 50px;
        }
        .oval {
          display: none;
        }
      }

      .projectInfo a:last-of-type {
        margin-left: 30px;
        margin-right: auto;
      }

      .projectInfo a:first-of-type {
        margin-left: auto;
        margin-right: 30px;
      }
    }
  }

  .projectInfo p {
    margin-bottom: 50px;
  }

  .projectInfo:nth-child(even),
  .projectInfo:nth-child(odd) {
    padding: 0;
    text-align: center;
  }

  .projectBox:nth-child(even) {
    flex-direction: column-reverse;
  }

  footer {
    padding: 0 0 20px;
    .bottom {
      justify-content: center;
    }
  }

  .headerFlexWrapper .headerBodyFlexBox {
    margin-top: 0;
  }

  .errorHeader {
    height: 21vh;
    padding: 30px 0;
  }

  .errorSection {
    padding: 0;
    .errorContentBox {
      flex-direction: column;
      justify-content: center;
      margin: 40px auto 0px;
      .errorIcon {
        max-width: 40%;
      }
      .errorP {
        margin: 40px auto 50px;
        text-align: center;
      }
    }
  }
}

/* Medium phones and down */
@media (max-width: 650px) {
  header {
    padding-bottom: 140px;
    .contactIcons {
      display: none;
    }
    .fa-chevron-down {
      font-size: 1.5rem;
    }
  }

  .searchBox .rotateButton {
    right: 4%;
  }

  .line {
    margin: -9px 0 0;
  }

  .about1 > p:nth-child(2) {
    font-size: 2rem;
  }

  h2.target:nth-child(3) {
    font-size: 2rem;
  }

  p.target:nth-child(1) {
    font-size: 1.2rem;
    padding-top: 20px;
  }

  .about {
    > .wrapper {
      .about1 {
        width: 100%;
      }

      .about1 figure {
        max-width: 82%;
      }

      .about2 {
        width: 100%;
      }
    }
  }

  .skillsGallery {
    grid-template-columns: 1fr 1fr;
    p {
      font-size: 18px;
    }
  }
  .headerFlexWrapper .headerBodyFlexBox {
    height: 45vh;
  }

  header .navBox {
    margin-top: 20px;
  }
}

/* Small phones */
@media (max-width: 500px) {
  header {
    font-size: 0.8rem;
    background-position-x: -33vw;
    a {
      font-size: 0.95rem;
    }
    nav {
      letter-spacing: 1.5px;
    }
    .headerBodyFlexBox {
      a.tealContactButton {
        font-size: 0.8rem;
        padding: 15px 0;
        i.fa-long-arrow-alt-right {
          line-height: 25px;
        }
      }
    }
    .chevronLink {
      top: 100%;
      left: 10%;
    }
  }

  .projectInfo:nth-child(even),
  .projectInfo:nth-child(odd) {
    text-align: left;
  }
}

/* Smallest phones */
@media (max-width: 365px) {
  header a.chevronLink {
    left: 70%;
  }
}

// Phone landscape
@media screen and (orientation: landscape) and (max-width: 640px) and (max-height: 360px) {
  /* Your CSS Here*/
  header a.chevronLink {
    display: none;
  }

  header {
    .navBox {
      margin-top: 0;
    }
    .headerBodyFlexBox {
      position: relative;
      a.tealContactButton {
        position: absolute;
        bottom: 0;
        width: 25%;
        right: 0;
        .me {
          display: none;
        }
        .fa-long-arrow-alt-right {
          display: none;
        }
      }
    }
  }
  .about {
    padding-top: 115px;
  }
  .footer {
    .footerBody {
      padding: 65px 0 60px;
    }
  }
}

// Hover/Active Styles only when device is not a touchscreen

@media (hover: hover) and (pointer: fine) {
  header {
    .chevronLink .fa-chevron-down:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .chevronLink:active .fa-chevron-down {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .chevronLink:active {
      outline: none;
    }
    .navBox {
      nav {
        ul.mainNavList {
          a:hover {
            outline: none;
          }
          a:hover::after {
            width: 100%;
          }
          a:active::after {
            -webkit-transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
            -o-transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
            transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
            width: 0;
          }
        }
        .contactIcons {
          .headerSocialBox {
            &:hover {
              box-shadow: 0 0.15em 1.25em -0.5em rgba(184, 54, 54, 0.35);
              background-color: transparent;
              border: 2px solid #1443487a;
              padding: 8px;
              transition: background-color 0.2s;
              .headerSocialList {
                li {
                  a:hover {
                    color: $teal;
                  }
                  a:hover::after {
                    width: 0;
                  }
                }
              }
            }
            .headerSocialList {
              li {
                a:focus {
                  color: $teal;
                }
              }
            }
          }
        }
      }
    }
  }

  .headerFlexWrapper {
    .headerBodyFlexBox {
      a:hover .target {
        text-decoration: underline;
      }
      a:active .target {
        text-decoration: none;
      }
      a:active {
        outline: none;
      }
    }
  }

  .projectInfo {
    a:hover {
      opacity: 0.6;
    }
    a:active {
      opacity: 1;
    }
  }

  .imgBox > a:hover > img {
    transition: border-top 0.5s;
    z-index: -2;
  }

  .imgBox > a:active > img {
    z-index: auto;
  }

  .skillsGallery {
    li:hover .skillsIconBox:hover {
      animation-name: spin;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 2000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
    }
  }

  footer {
    .footerBody {
      a:active {
        outline: none;
      }
      .fa-linkedin:hover,
      .fa-github:hover {
        color: $teal;
      }
    }
  }
}

// Dark specific hover styles

@media (prefers-color-scheme: dark) and (hover: hover) and (pointer: fine) {
  header {
    .chevronLink .fa-chevron-down:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .chevronLink:active .fa-chevron-down {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .chevronLink:active {
      outline: none;
    }
    .navBox {
      nav {
        .contactIcons {
          .headerSocialBox {
            &:hover {
              .headerSocialList {
                li {
                  a:active {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
    .chevronLink .fa-chevron-down:hover {
      color: $white;
    }
    .chevronLink:active .fa-chevron-down {
      color: $teal;
    }
  }

  .imgBox > a:hover > img {
    border-top: 14px ridge $white;
  }

  footer {
    .footerBody {
      > a:hover {
        color: $white;
      }
      > a:active {
        color: $teal;
      }
      .fa-linkedin:active,
      .fa-github:active {
        color: $white;
      }
    }
  }
  .errorNav {
    ul {
      li {
        a:hover {
          color: $teal;
        }
        a:hover + i {
          color: $white;
        }
      }
    }
  }
}

// Light specific hover styles

@media (prefers-color-scheme: light) and (hover: hover) and (pointer: fine) {
  header {
    .fa-chevron-down:hover {
      color: $black;
    }

    .navBox {
      nav {
        .contactIcons {
          .headerSocialBox {
            &:hover {
              .headerSocialList {
                li {
                  a:active {
                    color: $black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .imgBox > a:hover > img {
    border-top: 14px ridge #126368;
  }
  footer {
    .footerBody {
      > a:hover {
        color: $black;
      }
      > a:active {
        color: $teal;
      }
      a:focus {
        outline-color: $black;
      }
      .fa-linkedin:active,
      .fa-github:active {
        color: $black;
      }
    }
  }

  .errorNav {
    ul {
      li {
        a:hover {
          color: $teal;
        }
        a:hover + i {
          color: $black;
        }
      }
    }
  }
}

// When user prefers light mode
@media (prefers-color-scheme: light) {
  header .galaxy {
    display: none;
  }

  html {
    background: $white;
  }

  header {
    background-image: url("https://res.cloudinary.com/riley-hoffman-web-developer/image/upload/q_auto:low/v1643482801/large-leather_mlsm3u.webp");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-repeat: repeat;
    .lightModeHeaderImage {
      background-image: url("https://res.cloudinary.com/riley-hoffman-web-developer/image/upload/q_auto:low/v1643482599/pawel-czerwinski-YuJm-d7k2Jg-unsplash-transparency_jebxte.webp");
      position: absolute;
      margin: 0 auto;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      top: 0;
      height: 100vh;
    }
    .skip-link:focus {
      outline: 2px solid $black;
    }
    h1,
    h2,
    p,
    .navBox a {
      color: $black;
    }

    .headerFlexWrapper {
      .headerBodyFlexBox {
        a:focus {
          outline: 2px solid $black;
        }
      }
    }
    .chevronLink:focus .fa-chevron-down {
      color: $black;
    }
    .chevronLink:active .fa-chevron-down {
      color: $teal;
    }
  }

  .about {
    box-shadow: 1px -6px 15px -17px rgba(0, 0, 0, 0.82);
  }

  .projects {
    background: $white;
    .wrapper.flexBox {
      h2 {
        color: $black;
      }
    }
  }

  .projectInfo {
    h3,
    h4,
    h5,
    p {
      color: $black;
    }
    a {
      background: $teal;
      color: $black;
    }
    p,
    h3,
    h4 {
      text-shadow: none;
    }
  }

  .imgBox > a:focus > img {
    border-top: 14px ridge $black;
  }

  footer,
  footer p {
    color: $black;
  }

  footer {
    background: $white;
    .footerBody {
      > a {
        font-weight: 500;
      }
      a:focus {
        outline: 2px solid $black;
      }
    }
  }
  .errorHeader {
    background-image: none;
    .background {
      display: block;
    }
  }
  .errorSection {
    h2 {
      color: $black;
    }
  }
  .errorP {
    color: $black;
  }

  .errorNav {
    ul {
      li {
        a {
          color: $black;
        }
        a:active {
          color: $black;
        }
      }
    }
  }
}

// When user prefers dark mode
@media (prefers-color-scheme: dark) {
  html {
    background: $black;
  }

  header {
    background-image: url("https://res.cloudinary.com/riley-hoffman-web-developer/image/upload/q_auto:best/v1642797068/portfolio-background_jiw8ft.webp");
    background-size: cover;
    background-repeat: no-repeat;
    .lightModeHeaderImage {
      display: none;
    }
    .skip-link:focus {
      left: 0;
      outline: 2px solid $white;
    }
    h1,
    h2,
    p,
    .navBox a {
      color: $white;
    }

    .headerFlexWrapper {
      .headerBodyFlexBox {
        a:focus {
          outline: 2px solid $white;
        }
      }
    }
    .chevronLink:focus .fa-chevron-down {
      color: $white;
    }
    .chevronLink:active .fa-chevron-down {
      color: $teal;
    }
  }

  .projects {
    background: $black;
    .wrapper.flexBox {
      h2 {
        color: $white;
      }
    }
  }

  .projectInfo {
    h3,
    h4,
    h5,
    p {
      color: $white;
    }
    a {
      background: $white;
      color: $darkTeal;
    }
    p,
    h3,
    h4 {
      text-shadow: 3px 3px 5px $black;
    }
  }

  .imgBox > a:focus > img {
    border-top: 14px ridge $white;
  }

  footer,
  footer p {
    color: $white;
  }

  footer {
    background: $black;
    .footerBody {
      a:focus {
        outline: 2px solid $white;
      }
    }
  }
  .errorSection {
    h2 {
      color: $white;
    }
  }
  .errorP {
    color: $white;
  }

  .errorNav {
    ul {
      li {
        a {
          color: $white;
        }
        a:active {
          color: $white;
        }
      }
    }
  }
}

// When user prefers reduced motion
@media (prefers-reduced-motion: reduce) {
  .animate__backInLeft {
    animation: none;
  }
  .skillsGallery li:hover div.skillsIconBox:hover {
    animation: none;
  }
}

// When user prefers reduced motion and no touchscreen
@media (prefers-reduced-motion: reduce) and (hover: hover) and (pointer: fine) {
  header {
    background-attachment: local;
    .navBox {
      nav {
        ul.mainNavList {
          a:hover::after,
          a:focus::after {
            width: 0%;
          }
          a:hover,
          a:focus {
            border-bottom: 2px solid $teal;
          }
          a:active {
            border-bottom: none;
          }
        }
      }
    }
  }
  .imgBox > a:hover > img,
  .imgBox > a:focus > img {
    border-top: 8px ridge $white;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotateY(180);
    -webkit-transform: rotateY(180);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
}

@-webkit-keyframes MoveUpDown {
  from {
    bottom: -100px;
  }
  to {
    bottom: 10px;
  }
}
@-moz-keyframes MoveUpDown {
  from {
    bottom: -100px;
  }
  to {
    bottom: 10px;
  }
}

@-o-keyframes MoveUpDown {
  from {
    bottom: -100px;
  }
  to {
    bottom: 10px;
  }
}
@keyframes MoveUpDown {
  from {
    bottom: -100px;
  }
  to {
    bottom: 10px;
  }
}
