.projects {
  background: $black;
  padding: 85px 0;
  .wrapper.flexBox {
    align-items: center;
    flex-direction: column;
    h2 {
      color: $white;
    }
  }
}

.projectBox {
  display: flex;
  margin: 100px 0;
  .imgBox,
  .projectInfo {
    flex-basis: 50%;
  }
}

.projectBox:first-of-type {
  margin-top: 50px;
}

.projectInfo:nth-child(even) {
  border-radius: 0 5px;
  padding-left: 60px;
  text-align: right;
  a {
    padding-left: 15px;
  }
}

.projectInfo:nth-child(odd) {
  border-radius: 5px 0;
  padding-right: 60px;
  a {
    padding-right: 15px;
  }
}

.projectInfo {
  border-top: 8px ridge $teal;
  padding: 20px 0;
  h3,
  h4,
  p {
    padding-bottom: 15px;
  }
  h3,
  h4 {
    margin-bottom: 40px;
  }

  h3,
  h4,
  p {
    color: $white;
  }
  a {
    background: $white;
    color: $teal;
    padding: 5px 15px;
    text-transform: uppercase;
    transition: color 0.5s;
  }
  a:hover,
  a:focus {
    opacity: 0.6;
  }
  a:active {
    opacity: 1;
  }
  p,
  h3,
  h4 {
    text-shadow: 3px 3px 5px $black;
  }
}

.imgBox {
  position: relative;
  cursor: pointer;
  div.oval {
    background: #00f1ff;
    border-radius: 50%;
    opacity: 0.1;
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 2s;
    z-index: -1;
  }
}

.projectBox img {
  position: relative;
  transition: filter 1s;
}

.projectBox .imgBox img {
  filter: grayscale(0%);
  border-top: 8px ridge $teal;
}

.imgBox:nth-child(odd) .oval {
  right: -100%;
}

.imgBox:nth-child(even) .oval {
  left: -100%;
}

.imgBox > a:hover > img,
.imgBox > a:focus > img {
  border-top: 14px ridge $white;
  transition: border-top 0.5s;
  z-index: -2;
}

.imgBox > a:focus {
  outline: none;
}

.imgBox > a:active > img {
  z-index: auto;
}
