.skills {
  background-color: $white;
  .wrapper.flexBox {
    align-items: center;
    flex-direction: column;
    h2 {
      color: $black;
      margin-bottom: 40px;
    }
  }
}

.skillsGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 60px;
  justify-items: center;
  width: 80vw;
  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    i {
      font-size: 2.5rem;
      padding: 0 10px;
    }
    i:hover {
      animation-name: spin;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    p {
      text-align: center;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

