

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');

html {
    background-color: #00050f;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

p {
    color: #585858;
    margin: 10px 0;
}

section {
    padding: 40px 0;
}

.highlight { background-color: yellow }

@import './base/normalize';
@import './partials/header';
@import './partials/about';
@import './partials/projects';
@import './partials/skills';
@import './partials/footer';
@import './partials/media-queries';



.gallery {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
}