html {
  background-color: $black;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
main {
  position: relative;
  z-index: 50;
}

p {
  color: $grayPText;
  margin: 10px 0;
}

section {
  padding: 40px 0;
}

section,
footer {
  position: relative;
  z-index: 20;
}
