@mixin mainAfterProps {
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    height: 22px;
    margin-bottom: 32px;
    position: absolute;
    top: 99.9%;
    z-index: 9999;
}
