@mixin buttonGradient {
    background: $buttonGradient; /* fallback */
    background-image: $hslGradient;
}

@mixin centerFlexXY {
    align-items: center;
    justify-content: center;
}

@mixin flexColumnCentered {
    align-items: center;
    flex-direction: column;
}

@mixin heightWidth100Percent {
    height: 100%;
    width: 100%;
}

@mixin height100Relative {
    height: 100%;
    position: relative;
}

@mixin mainAfterProps {
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    height: 22px;
    margin-bottom: 32px;
    position: absolute;
    z-index: 9999;
}

@mixin makeBetweenFlexBox {
    display: flex;
    justify-content: space-between;
}

@mixin makeCenteredFlexBox {
    display: flex;
    justify-content: center;
}

@mixin pseudoAbsolute {
    content: "";
    position: absolute;
}

@mixin subtleGradientBackgroundClip {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
