@mixin backInLeft0 {
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
}
@mixin backInLeft80 {
    -webkit-transform: translateX(0) scale(0.7);
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
}
@mixin backInLeftTo {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

@mixin headShake0 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@mixin headShake65 {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
}

@mixin headShake185 {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
}

@mixin headShake1315 {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
}

@mixin headShake435 {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
}

@mixin headShake50 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@mixin backOutRight0 {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

@mixin backOutRight20 {
    -webkit-transform: translateX(0) scale(0.7);
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
}

@mixin backOutRightTo {
    -webkit-transform: translateX(2000px) scale(0.7);
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
}

@mixin bounce1 {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
@mixin bounce2 {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
}
@mixin bounce3 {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
}
@mixin bounce4 {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
}
@mixin bounce5 {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
}

@mixin buttonGradient {
    background: $buttonGradient; /* fallback */
    background-image: $hslGradient;
}

@mixin centerFlexXY {
    align-items: center;
    justify-content: center;
}

@mixin flexColumnCentered {
    align-items: center;
    flex-direction: column;
}

@mixin headerBackgroundWhite {
    background-color: $white;
    background-image: url("../img/cross-scratches.png");
}

@mixin headerBackgroundBlack {
    background-color: $black;
    background-image: url("../img/cross-scratches-inverted.png");
}

@mixin heightWidth100Percent {
    height: 100%;
    width: 100%;
}

@mixin height100Relative {
    height: 100%;
    position: relative;
}

@mixin mainAfterProps {
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    height: 22px;
    margin-bottom: 32px;
    position: absolute;
    z-index: 9999;
}

@mixin makeBetweenFlexBox {
    display: flex;
    justify-content: space-between;
}

@mixin makeCenteredFlexBox {
    display: flex;
    justify-content: center;
}

@mixin pseudoAbsolute {
    content: "";
    position: absolute;
}

@mixin subtleGradientBackgroundClip {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
