$black: #00050f;
$white: #e5e8ee;
$teal: #17a2aa;
$whiteTeal: #d7edee;
$lightTeal: #7adbe0;
$grayTeal: #65a5a8;
$darkTeal: #245056;
$grayPText: rgb(82, 82, 82);
$buttonHoverGlow: rgba($teal, 0.5) 0px 0px 20px 0px;
$lightModeTextShadow: 0 0 1000px rgb(192 219 255 / 38%), 0 0 12px rgb(65 109 255 / 17%);
$darkModeTextShadow: 0 0 1000px rgb(192 219 255 / 38%), 0 0 12px rgb(65 120 255 / 24%);