@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&family=Rubik:wght@300;400;500;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

/* Border Box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Base Font Size (1rem = 10px) */
html {
  font-size: 125%;
}

/* Stabilizing Base Styles */
body, ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

time {
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* Works on Firefox */
* {
  scrollbar-color: rgba(0, 5, 15, 0.82) rgba(23, 162, 170, 0.82);
  scrollbar-width: auto;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #17a2aa;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 5, 15, 0.82);
  border: 3px solid rgba(23, 162, 170, 0.82);
  border-radius: 5px;
}

main {
  position: relative;
}

h1 {
  font-size: 1.8rem;
}

h1:not(#ryHekhLTP6BzxJWvqUdqp4uHmU) {
  -webkit-text-fill-color: initial;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.15rem;
}

a {
  padding: 2px;
  transition: all 0.1s;
}

p {
  color: #525252;
  margin: 10px 0;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 40px 0;
}

section,
footer {
  position: relative;
}

footer {
  z-index: 20;
}

form,
label,
button {
  font-family: "Poppins", sans-serif;
}

form label {
  color: #00050f;
}

fieldset {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  border: none;
  min-inline-size: -webkit-min-content;
  min-inline-size: -moz-min-content;
  min-inline-size: min-content;
}

button:active {
  outline: none;
}

label {
  font-size: 1.1rem;
}

label[for=email] {
  margin-left: 18px;
}

input,
textarea {
  border: none;
  font-family: "Rubik", sans-serif;
}

textarea {
  padding-left: 15px;
  padding-top: 15px;
  resize: vertical;
}

input[type=text],
input[type=email] {
  padding: 10px;
}

input[type=text],
input[type=email],
textarea {
  border-radius: 20px 3px 0px 20px;
  background: #e5e8ee;
  color: #00050f;
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid #17a2aa;
}

.wrapper {
  max-width: 1100px;
  width: 85%;
  margin: 0 auto;
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  /* future proofing */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap;
  /* added line */
}

.flexBox {
  display: flex;
}

.black {
  color: #00050f;
}

.white {
  color: #e5e8ee;
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

a.whiteOutline:focus {
  outline: 2px solid #e5e8ee;
}

a.blackOutline:focus {
  outline: 2px solid #00050f;
}

.styledButton {
  background: linear-gradient(180deg, #65a5a8 5%, #17a2aa);
  background-color: rgba(0, 0, 0, 0);
  background-color: #65a5a8;
  border: none;
  border-radius: 8px;
  box-shadow: 0 10px 14px -7px #16595c;
  color: #00050f;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 #469ea3;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate__animated.animate__repeat-1 {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: var(--animate-repeat);
  animation-iteration-count: var(--animate-repeat);
}

.animate__animated.animate__repeat-2 {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
  animation-iteration-count: calc(var(--animate-repeat) * 2);
}

.animate__animated.animate__repeat-3 {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
  animation-iteration-count: calc(var(--animate-repeat) * 3);
}

.animate__animated.animate__delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-delay: calc(var(--animate-delay) * 2);
  animation-delay: calc(var(--animate-delay) * 2);
}

.animate__animated.animate__delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-delay: calc(var(--animate-delay) * 3);
  animation-delay: calc(var(--animate-delay) * 3);
}

.animate__animated.animate__delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-delay: calc(var(--animate-delay) * 4);
  animation-delay: calc(var(--animate-delay) * 4);
}

.animate__animated.animate__delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-delay: calc(var(--animate-delay) * 5);
  animation-delay: calc(var(--animate-delay) * 5);
}

.animate__animated.animate__faster {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-duration: calc(var(--animate-duration) / 2);
  animation-duration: calc(var(--animate-duration) / 2);
}

.animate__animated.animate__fast {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-duration: calc(var(--animate-duration) * 0.8);
  animation-duration: calc(var(--animate-duration) * 0.8);
}

.animate__animated.animate__slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-duration: calc(var(--animate-duration) * 2);
  animation-duration: calc(var(--animate-duration) * 2);
}

.animate__animated.animate__slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-duration: calc(var(--animate-duration) * 3);
  animation-duration: calc(var(--animate-duration) * 3);
}

@media (prefers-reduced-motion: reduce), print {
  .animate__animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }

  .animate__animated[class*=Out] {
    opacity: 0;
  }
}
@-webkit-keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInLeft {
  -webkit-animation-name: backInLeft;
  animation-name: backInLeft;
}

.animate__backInLeft {
  -webkit-animation-name: backInLeft;
  animation-name: backInLeft;
}

@-webkit-keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}
.animate__headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}

@-webkit-keyframes backOutRight {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
}
@keyframes backOutRight {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
}
.animate__backOutRight {
  -webkit-animation-name: backOutRight;
  animation-name: backOutRight;
}

header {
  overflow: visible;
  padding-bottom: 50px;
  position: absolute;
  height: 10vh;
  width: 100%;
  z-index: 999;
}
header .skip-link {
  background: #17a2aa;
  border-radius: 3px;
  color: #00050f;
  left: -1000px;
  margin-left: 7px;
  padding: 15px 15px;
  position: absolute;
  top: 5px;
  z-index: 999;
}
header .skip-link:focus {
  left: 0;
}
header .favLink {
  display: block;
  margin: 22px;
  max-width: 4.5%;
  min-width: 40px;
  padding: 1px;
}
header .favLink img {
  padding: 4px;
}
header .favLink:focus {
  outline: none;
}
header .blackOutline:focus img {
  outline: 2px solid #00050f;
}
header .whiteOutline:focus img {
  outline: 2px solid #e5e8ee;
}
header .navBox {
  align-items: center;
  justify-content: flex-end;
  margin-top: 35px;
  position: relative;
  z-index: 999;
}
header .navBox nav {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 55%;
}
header .navBox nav ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
header .navBox nav ul a {
  border-bottom: 1px solid transparent;
  line-height: 1;
  margin: 10px;
  position: relative;
}
header .navBox nav ul a:focus {
  outline: none;
}
header .navBox nav ul.mainNavList {
  z-index: 999;
}
header .navBox nav ul.mainNavList a::after {
  background-color: #17a2aa;
  content: "";
  margin-top: 5px;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  height: 2px;
  width: 0;
  left: 50%;
  top: 100%;
}
header .navBox nav ul.mainNavList a:focus::after {
  width: 100%;
}

.splash {
  background-attachment: fixed;
  background-position-x: 100%;
  padding: 30vh 0 50px;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.splash .relativeColumnBox .contactWrapper {
  padding: 0;
}
.splash .relativeColumnBox .contactWrapper .contactIcons {
  justify-content: space-between;
}
.splash .relativeColumnBox .contactWrapper .contactIcons a {
  opacity: 0.9;
}
.splash h1 {
  color: #e5e8ee;
  font-size: 2rem;
  line-height: 1.3;
  margin: 10px 0;
}
.splash h1 > span {
  display: block;
  margin: 21px 0 4px;
}
.splash h1 .animate__backInLeft {
  font-size: 1.7rem;
  font-weight: 700;
  white-space: nowrap;
}

.relativeColumnBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
.relativeColumnBox .smallFlexBox {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 45vw;
}
.relativeColumnBox .smallFlexBox .iconContainer {
  height: 16px;
  margin-bottom: 5px;
  overflow: hidden;
}
.relativeColumnBox .smallFlexBox .iconContainer .fa-water {
  color: #17a2aa;
  font-size: 2.5rem;
  margin: 0;
  transform: rotate(180deg);
  width: 57px;
}
.relativeColumnBox .smallFlexBox .outlined {
  color: #00050f;
  font-weight: 800;
  text-shadow: -1px -1px 2px #17a2aa, 1px -1px 2px #17a2aa, -1px 2px 2px #65a5a8, 1px 1px 2px #00050f;
  -webkit-text-fill-color: initial;
}
.relativeColumnBox .smallFlexBox .web {
  margin-top: 0;
}
.relativeColumnBox .smallFlexBox .homeButton {
  border: none;
  border-radius: 3px;
  color: #00050f;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
  justify-content: center;
  margin-top: 25px;
  padding: 22px 5px;
  text-align: center;
  width: 35%;
}
.relativeColumnBox .smallFlexBox button.homeButton.tealContactButton:active {
  border: none;
  outline: none;
  padding: 22px 5px;
}

.modal {
  background-color: rgba(178, 212, 214, 0.918);
  border: 3px solid #00050f;
  bottom: 40%;
  left: 20%;
  max-height: 80%;
  min-height: 460px;
  max-width: 60%;
  min-width: 485px;
  overflow-y: auto;
  padding: 20px 12px 9px 20px;
  position: absolute;
  z-index: 9999;
}
.modal .modalClose {
  position: relative;
  bottom: 12px;
  right: 14px;
}
.modal .modalButton {
  color: #c8c3c3;
  padding-left: 75px;
  right: initial;
}
.modal form {
  margin-top: 0;
}
.modal form .modalClose {
  background-color: #e5e8ee;
}
.modal form .inputBox {
  margin-bottom: 10px;
}
.modal form input[name=name] {
  margin-right: 15px;
}
.modal form label {
  margin: 5px 8px 5px 0px;
}
.modal form label[for=email] {
  margin-left: 12px;
}
.modal form .contactFormButton {
  margin-top: 18px;
}
.modal form textarea {
  resize: none;
}

@-webkit-keyframes zooms {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}
@keyframes zooms {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}
@-webkit-keyframes hideme1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideme1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes hideme2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes hideme2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.galaxy {
  opacity: 0.7;
  overflow: visible;
  perspective: 340px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.galaxy .stars {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 3px;
  width: 3px;
  box-shadow: -740px 444px rgba(23, 162, 170, 0.42), 157px -59px #c1cac9, 36px -3px #c1cac9, -857px -439px #c1cac9, -1408px 402px #becfd5, -235px -149px #becfd5, -1074px -305px rgba(23, 162, 170, 0.39), 820px -287px #abc6c7, -536px 243px #dcdddd, 954px 377px #d3eef7, 136px -179px #eef8f8, -294px -159px #eef8f8, 374px 403px #cfdadb, -803px 4px #cfdadb, -671px -262px #f1f8f9, -589px 136px rgba(23, 162, 170, 0.5), -1248px -352px #c3e1e6, 459px -209px #f1f8f9, -1012px 318px rgba(23, 162, 170, 0.39), -290px 117px #d3eef7, -926px 46px #cfdadb, 1350px 278px #dcdddd, 969px -321px #c3e1e6, 380px -371px #c3e1e6, 912px 130px #eef8f8, -433px -403px #becfd5, -469px -46px #c8caca, -854px 37px #c6c8c9, 722px 112px #eef8f8, 1094px -49px #c3e1e6, 1436px -75px #c6c8c9, 897px 476px #c1cac9, -262px 413px #c1cac9, 806px 210px #abc6c7, 1215px -71px #c1cac9, -425px 156px #b0dfe3, -1338px 444px #e3e3e3, 1214px 174px #abc6c7, -1133px 226px rgba(23, 162, 170, 0.6), 1221px 352px #c6dff0, 1385px 69px rgba(153, 218, 221, 0.897), -85px 281px rgba(23, 162, 170, 0.5), -451px 46px #defbfc, -1064px -134px #dee9e9, 1331px -15px #dcdddd, -1001px 275px #b0dfe3, 522px -6px #abc6c7, 573px -153px #c4cde3, 1320px -339px rgba(153, 218, 221, 0.897), -591px 180px #d3eef7, 779px -178px #c8caca, -606px 183px rgba(23, 162, 170, 0.5), -1423px -406px #b0dfe3, 324px -17px #abc6c7, -1403px -362px #dee9e9, 1294px 204px #cfdadb, 648px 77px rgba(23, 162, 170, 0.5), -39px -104px #c4cde3, 157px -88px #f1f8f9, -983px -330px #defbfc, -999px 78px #c6dff0, -1268px -400px rgba(23, 162, 170, 0.42), -438px -77px #dcdddd, 573px 279px #caf0ab, -117px 252px #e6f4f5, -359px 292px #dcdddd, 1306px 428px #c3e1e6, 1364px -141px rgba(23, 162, 170, 0.42), -433px -394px #cfdadb, 1424px -402px #c3e1e6, -403px 418px #eef8f8, -196px 147px #c1cac9, 454px 323px #c6c8c9, -1416px 50px #cfdadb, 1189px 210px #caf0ab, -615px -323px #c3e1e6, -203px 277px rgba(23, 162, 170, 0.42), 1245px 45px #c3e1e6, 531px -225px #dee9e9, 737px 151px #dee9e9, -696px 323px #dcdddd, 1358px 151px #dcdddd, 29px 396px #caf0ab, -60px -355px #caf0ab, -445px -355px rgba(23, 162, 170, 0.42), 12px -98px #d3eef7, -757px -165px rgba(23, 162, 170, 0.39), 927px 445px #f1f8f9, 278px 98px #c4cde3, -1324px -316px #b0dfe3, -582px -13px #becfd5, -1386px 283px #c6c8c9, 83px 109px #caf0ab, 511px -149px rgba(153, 218, 221, 0.897), -581px -109px rgba(23, 162, 170, 0.6), 298px -124px #c8caca, 858px -263px rgba(153, 218, 221, 0.897), -1412px 210px #dee9e9, 327px 472px #dee9e9, 30px -220px #cfdadb, 206px 266px rgba(23, 162, 170, 0.39), -835px -428px #c6c8c9, 695px -440px rgba(23, 162, 170, 0.6), -1293px 120px rgba(23, 162, 170, 0.6), -537px 432px rgba(153, 218, 221, 0.897), 374px 171px #e3e3e3, 1221px -358px #b0dfe3, 1028px 460px #c4cde3, 413px 201px #defbfc, 284px -428px rgba(23, 162, 170, 0.39), 672px -338px #eef8f8, 479px -358px #e3e3e3, -1178px -434px #defbfc, -1029px 423px #c8caca, 255px 116px #defbfc, -1065px 323px #f1f8f9, 510px -84px #cfdadb, -1469px 53px #eef8f8, -1290px -375px #d3eef7, -269px -173px #e6f4f5, -874px 200px #dcdddd, -1053px 182px #e3e3e3, -137px 280px #cfdadb, 1408px -429px #dee9e9, 687px -48px rgba(23, 162, 170, 0.5), -1204px -25px #eef8f8, -676px -264px rgba(23, 162, 170, 0.6), -1483px -267px rgba(23, 162, 170, 0.5), 501px -252px #c3e1e6, -991px 335px #abc6c7, -1089px -63px rgba(23, 162, 170, 0.6), 416px -144px #eef8f8, -895px 320px #c1cac9, -1092px -462px #dcdddd, 935px -477px rgba(23, 162, 170, 0.6), -1192px -438px rgba(23, 162, 170, 0.5), 421px -101px #caf0ab, -1284px -20px #d3eef7, 231px -454px #c4cde3, -83px 7px #eef8f8, 844px -153px rgba(23, 162, 170, 0.42), 95px -372px #caf0ab, 1350px 96px #eef8f8, 689px 255px #c6dff0, 448px -59px #eef8f8, -701px -85px rgba(23, 162, 170, 0.5), -1383px 44px rgba(23, 162, 170, 0.5), 364px -421px #e6f4f5, 442px -284px #c6dff0, -942px -56px #c6dff0, -198px 169px rgba(23, 162, 170, 0.42), -912px -120px #e3e3e3, -1479px -67px #becfd5, -485px 128px #b0dfe3, -858px 78px #b0dfe3, -7px 175px #f1f8f9, -634px -178px rgba(153, 218, 221, 0.897), 52px -256px #abc6c7, 855px -72px #e6f4f5, 166px 303px #f1f8f9, 143px -469px #dcdddd, 178px -283px #eef8f8, -985px -422px rgba(23, 162, 170, 0.5), 794px -375px rgba(153, 218, 221, 0.897), 751px 276px #eef8f8, 1443px -199px #c1cac9, 454px -417px #e6f4f5, -685px -427px rgba(23, 162, 170, 0.6), 562px -35px #c3e1e6, 24px 124px rgba(23, 162, 170, 0.39), -1394px 445px #c6c8c9, 996px -108px #c8caca, -400px 288px #c8caca, -1247px -383px #defbfc, -275px -143px #e3e3e3, -226px -222px #c4cde3, 665px 212px #abc6c7, 502px 245px rgba(23, 162, 170, 0.5), -1187px -443px #eef8f8, -1246px 97px #b0dfe3, -593px -318px #b0dfe3, 1px 81px #c4cde3, 930px 264px #f1f8f9, 664px 141px rgba(23, 162, 170, 0.42), -1301px 135px #c1cac9, -573px 340px #b0dfe3, -946px 444px #c3e1e6, -103px -194px #defbfc, 796px 171px #dcdddd, 431px -421px #f1f8f9, 1106px -11px #c8caca, -382px -69px #b0dfe3, -55px -461px #c6dff0, 1248px -360px rgba(23, 162, 170, 0.6), -145px -93px #f1f8f9, 35px 365px rgba(23, 162, 170, 0.5), -219px 209px rgba(153, 218, 221, 0.897), 1407px -429px #becfd5, 439px -251px #f1f8f9, 967px 326px rgba(23, 162, 170, 0.39), -883px 257px #c8caca, -180px 205px #cfdadb, -65px 102px #cfdadb, 150px 229px #abc6c7, 33px -348px #d3eef7, -1339px -413px #eef8f8, -1352px 262px #c6c8c9, -557px -86px #caf0ab, -232px 279px #f1f8f9, -465px 468px rgba(23, 162, 170, 0.42), -105px 219px #e6f4f5, -1147px -51px rgba(23, 162, 170, 0.42), -1489px -158px rgba(23, 162, 170, 0.6), -878px -384px #cfdadb, 1104px 234px #becfd5, 518px -17px rgba(153, 218, 221, 0.897), -1082px -210px #dcdddd, -177px 249px rgba(23, 162, 170, 0.5), 456px -108px #cfdadb, -798px -112px #becfd5, 337px 159px #abc6c7, -1005px 402px #dee9e9, -1401px 194px #d3eef7, 871px 305px #caf0ab, 756px -26px #e6f4f5, 1086px 379px #abc6c7, 868px 336px rgba(23, 162, 170, 0.6), -533px 59px #e3e3e3, -148px 186px #dcdddd, -345px 257px #f1f8f9, 441px -116px #abc6c7, -1162px 340px #becfd5, -1069px 431px #f1f8f9, -528px 354px #becfd5, 836px 35px #caf0ab, -974px 10px #defbfc, -304px -259px #dee9e9, 254px 47px #caf0ab, 328px 31px rgba(23, 162, 170, 0.5), -1450px 316px #e6f4f5, 386px 459px #c1cac9, -1326px 79px rgba(23, 162, 170, 0.6), 673px 114px #c1cac9, -9px -99px #c8caca, 466px 99px #defbfc, 712px 178px #b0dfe3, -981px -386px #becfd5, 904px -361px #dcdddd, 983px 213px rgba(23, 162, 170, 0.6), -287px 220px #c4cde3, 589px -71px #c8caca, 1264px 372px #defbfc, 659px -441px #eef8f8, 1377px 112px rgba(23, 162, 170, 0.42), 1344px 477px #c1cac9, -1476px -316px #dcdddd, 354px 69px #c4cde3, -465px -266px #d3eef7, -485px 456px #abc6c7, -54px 146px #c1cac9, -210px -330px #dcdddd, 505px 456px #b0dfe3, 1394px 253px #b0dfe3, -1062px 336px #c8caca, 966px 196px #defbfc, -1463px -114px #eef8f8, -1119px 112px #b0dfe3, -952px -23px rgba(23, 162, 170, 0.39), 1025px 279px #c6dff0, 1464px 162px #d3eef7, 327px -122px #caf0ab, -925px -177px #caf0ab, 385px -63px rgba(153, 218, 221, 0.897), 1358px 451px rgba(23, 162, 170, 0.42), 1344px -123px #c3e1e6, -1477px 398px #c8caca, 425px -306px #e6f4f5, 90px 445px #d3eef7, -1172px -198px #eef8f8, 345px -24px #c6c8c9, -1285px -283px #eef8f8, -818px 53px #dee9e9, 1057px -213px #c1cac9, 678px 124px #e6f4f5, 688px 396px #c4cde3, -719px -172px #abc6c7, -1215px -174px #e6f4f5, -260px 293px #eef8f8, -1488px -386px #f1f8f9, -1480px 459px #eef8f8, 1380px 32px rgba(23, 162, 170, 0.42), 253px 328px #dcdddd, 286px 449px rgba(23, 162, 170, 0.39), -594px 66px #eef8f8, 97px -69px rgba(23, 162, 170, 0.39), -991px 313px #c8caca, -880px -83px #eef8f8, -86px -192px #c8caca, 377px -241px #abc6c7, -1047px 95px #defbfc, -366px 40px #c6dff0, -414px 439px #f1f8f9, 1056px -404px #c8caca, 444px -244px #c6dff0, -1407px 270px rgba(23, 162, 170, 0.5), -355px -16px rgba(23, 162, 170, 0.6), 1229px -114px #eef8f8, 694px -416px #dcdddd, -1309px -174px #eef8f8, 945px -457px #cfdadb, -1189px -463px #c3e1e6, -1449px -136px #dee9e9, 866px 26px #becfd5, -80px 219px #f1f8f9, -781px -31px #c3e1e6, 756px 299px #becfd5, 1025px 320px #c3e1e6, 291px -281px #eef8f8, -853px 247px rgba(153, 218, 221, 0.897), 198px 282px rgba(23, 162, 170, 0.6), -505px 445px #c4cde3, 314px 250px #c6dff0, -566px -338px #f1f8f9, -195px -296px #dee9e9, 737px -81px #c4cde3, 1430px 277px #e6f4f5, -1117px -59px rgba(23, 162, 170, 0.6), 1422px 233px #c3e1e6, 1236px 301px #c4cde3, 177px 264px #f1f8f9, -957px 142px #c1cac9, 1324px 341px #abc6c7, -999px 463px rgba(153, 218, 221, 0.897), 680px -319px #c8caca, 1194px -287px #f1f8f9, -1227px 348px #d3eef7, 1351px -388px #f1f8f9, 242px 135px #c8caca, -778px 292px #eef8f8, 40px 22px #abc6c7, 1395px 192px #d3eef7, -300px -309px #abc6c7, 1167px 152px #dee9e9, 1438px -277px #b0dfe3, 1103px -44px #eef8f8, -1179px -301px #c6c8c9, 181px 364px #e6f4f5, 477px 332px #dee9e9, -1016px 161px #eef8f8, 1283px 468px rgba(23, 162, 170, 0.42), -880px 17px #dcdddd;
  -webkit-animation: zooms 10s linear infinite;
  animation: zooms 10s linear infinite;
  transform-style: preserve-3d;
}
.galaxy .stars:before,
.galaxy .stars:after {
  box-shadow: inherit;
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
}
.galaxy .stars:before {
  -webkit-animation: hideme1 10s linear infinite;
  animation: hideme1 10s linear infinite;
  transform: translateZ(-300px);
}
.galaxy .stars:after {
  -webkit-animation: hideme2 10s linear infinite;
  animation: hideme2 10s linear infinite;
  transform: translateZ(-600px);
}

.smokeParentContainer {
  align-content: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.lightBackground {
  background-image: linear-gradient(to bottom, rgba(23, 162, 170, 0) 0%, rgba(23, 162, 170, 0.2) 100%), url(https://images.unsplash.com/photo-1612344801383-ee65e6e5e4a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-blend-mode: multiply;
  background-size: cover;
  opacity: 0.3;
  position: relative;
  height: 100%;
  width: 100%;
}

.smoke {
  filter: url(#wave);
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 99.5%;
}
.smoke::before {
  border: 10px solid #17a2aa;
  box-shadow: 0 0 50px #e5e8ee, inset 0 0 50px #e5e8ee;
  filter: url(#wave) blur(10px);
  content: "";
  position: absolute;
  opacity: 0.9;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.about {
  background-color: #e5e8ee;
  padding: 115px 0;
}
.about .wrapper {
  display: flex;
}
.about .wrapper .about1,
.about .wrapper .about2 {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.about1 .iconContainer {
  height: 16px;
  margin-bottom: 5px;
  overflow: hidden;
}
.about1 .iconContainer .fa-water {
  color: #17a2aa;
  font-size: 2.5rem;
  margin: 0;
  transform: rotate(180deg);
  width: 57px;
}

.about1 figure {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  max-width: 50%;
  min-width: 275px;
}
.about1 figure img {
  border-radius: 1px;
}
.about1 figure figcaption {
  background: rgba(23, 162, 170, 0.1);
  border: 1px solid #17a2aa;
  border-radius: 1px;
  color: #00050f;
  font-size: 0.6rem;
  font-weight: 300;
  margin-top: 8px;
  padding: 2px 6px;
}

.about2 {
  justify-content: center;
}
.about2 p {
  position: relative;
}
.about2 p::after {
  background: #17a2aa;
  content: "";
  margin-top: 30px;
  position: absolute;
  left: 25%;
  top: 100%;
  height: 2px;
  width: 50%;
}

.projects {
  padding: 115px 0;
}
.projects .wrapper.flexBox {
  align-items: flex-start;
  flex-direction: column;
}

.projectBox {
  display: flex;
  margin: 100px 0;
}
.projectBox .imgBox,
.projectBox .projectInfo {
  flex-basis: 50%;
}

.projectBox:first-of-type {
  margin-top: 50px;
}

.projectInfo:nth-child(even) {
  border-radius: 0 5px;
  padding-left: 60px;
  text-align: right;
}
.projectInfo:nth-child(even) a {
  padding-left: 15px;
}

.projectInfo:nth-child(odd) {
  border-radius: 5px 0;
  padding-right: 60px;
}
.projectInfo:nth-child(odd) a {
  padding-right: 15px;
}

.projectInfo {
  border-top: 8px ridge #17a2aa;
  padding: 20px 0;
  position: relative;
  z-index: 10;
}
.projectInfo h2,
.projectInfo h3,
.projectInfo p {
  padding-bottom: 15px;
}
.projectInfo h3,
.projectInfo h4 {
  margin-bottom: 30px;
}
.projectInfo a {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 5px 15px;
  text-transform: uppercase;
  transition: color 0.5s;
}
.projectInfo a:last-of-type {
  margin-left: 10px;
}
.projectInfo a:focus {
  opacity: 0.6;
}

.imgBox {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.imgBox a {
  color: #e5e8ee;
  padding: 0;
}
.imgBox div.oval {
  background: #00f1ff;
  border-radius: 50%;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 5%;
  transition: all 2s;
  z-index: 0;
}

.projectBox img {
  position: relative;
  transition: filter 1s;
  z-index: 10;
}

.projectBox .imgBox img {
  filter: grayscale(0%);
  border-top: 8px ridge #17a2aa;
}

.imgBox:nth-child(odd) .oval {
  right: -100%;
}

.imgBox:nth-child(even) .oval {
  left: -100%;
}

.imgBox > a:focus > img {
  transition: border-top 0.5s;
}

.imgBox > a:focus {
  outline: none;
}

.skills {
  background-color: #e5e8ee;
  padding: 130px 0 115px;
}
.skills .wrapper .flexBox {
  align-items: center;
  flex-direction: column;
}
.skills .wrapper .flexBox h2 {
  color: #00050f;
  margin-bottom: 40px;
}

.noAnimation {
  -webkit-animation: none !important;
          animation: none !important;
}

.skillsGallery {
  display: grid;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 50px;
  width: 80vw;
}
.skillsGallery li {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.skillsGallery li .skillsIconBox {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
}
.skillsGallery li .skillsIconBox i, .skillsGallery li .skillsIconBox svg {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}
.skillsGallery li .skillsIconBox .fa-universal-access {
  font-family: "Font Awesome 5 Free";
}
.skillsGallery li p {
  text-align: center;
}

footer,
footer p {
  color: #e5e8ee;
}

.contactWrapper {
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0 20px;
  width: 70%;
}
.contactWrapper .contactBox {
  justify-content: space-between;
  width: 100%;
}
.contactWrapper .contactBox .contactHeading {
  font-size: 1.5rem;
  line-height: 2.1;
}
.contactWrapper > a {
  padding: 5px;
}
.contactWrapper > a {
  color: #17a2aa;
}
.contactWrapper a:focus {
  outline: 2px solid #e5e8ee;
}
.contactWrapper .contactIcons {
  font-size: 2em;
  width: 135px;
}
.contactWrapper .contactIcons a {
  padding: 0 5px;
  margin: 0 23px 0 0;
}

form {
  display: flex;
  flex-direction: column;
}
form .fieldsetBox {
  flex-direction: column;
  margin: 0 auto 10px;
  padding: 0 30px;
  width: 100%;
}
form .inputBox {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
form .inputBox input {
  width: 37%;
}
form .contactFormButton {
  align-self: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding: 13px 32px;
  width: 50%;
  background: linear-gradient(180deg, #65a5a8 5%, #17a2aa);
}
form .contactFormButton:hover {
  background: linear-gradient(to bottom, #17a3aa 5%, #65a5a8 100%);
  background-color: #17a3aa;
}
form .contactFormButton:active {
  outline: none;
  position: relative;
  top: 1px;
}
form label {
  margin: 9px 0;
}
form textarea {
  min-height: 200px !important;
  position: relative;
}
form textarea::-webkit-resizer {
  border: 1.5px solid #17a2aa;
  background-color: #17a2aa;
  background-image: url("../../assets/img/angles-down-solid.png");
  background-size: contain;
  position: relative;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0 0;
}
footer .bottom {
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px;
  width: 100%;
}
footer .bottom p {
  padding: 0px 20px 0 0;
}
footer .bottom a {
  align-items: center;
  color: #17a2aa;
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 1px;
  justify-content: space-between;
}
footer .bottom a svg {
  font-size: 1rem;
  padding-left: 8px;
}

.borderlessFooter {
  border-top: none;
}

.nameSeparator {
  margin: 0 6px;
}

i.fa-grip-lines-vertical {
  font-size: 84%;
}

.homeMain + footer {
  align-items: center;
  background-color: transparent;
  border: 0;
  bottom: 0;
  height: 8vh;
  position: absolute;
  width: 100%;
}
.homeMain + footer .contactWrapper {
  display: none;
}
.homeMain + footer .bottom {
  width: 85%;
  justify-content: flex-end;
}

.projectsMain + footer {
  padding: 0;
}

.formBackground {
  background-color: rgba(178, 212, 214, 0.918);
  border: 3px solid #00050f;
  padding: 45px 30px;
  width: 100%;
}

.errorHeader {
  height: 25vh;
  padding: 115px 0;
}
.errorHeader .smallFlexBox {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.errorHeader .smallFlexBox .tealLine {
  color: #17a2aa;
}

.errorSection {
  overflow: hidden;
  padding-top: 160px;
}
.errorSection .errorContentBox {
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.errorSection .errorContentBox .errorIcon {
  margin: 0;
  max-width: 30%;
  width: 100%;
}
.errorSection .errorContentBox .errorP {
  font-size: 1.5rem;
}
.errorSection .errorContentBox .errorP .ownLine {
  display: block;
}

.errorNav {
  align-items: center;
  justify-content: center;
}
.errorNav ul {
  font-size: 1.4rem;
}
.errorNav ul li {
  align-items: center;
  display: flex;
}
.errorNav ul li svg {
  color: #17a2aa;
  font-size: 1.7rem;
  margin-left: 20px;
}

/* High Resolution Screens */
@media (max-width: 1680px) and (max-height: 1050px) {
  header .navBox nav ul a {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  .relativeColumnBox .smallFlexBox .homeButton {
    font-size: 1.1rem;
    margin: 25px 0;
  }
  .relativeColumnBox .smallFlexBox a {
    font-size: 2rem;
  }
  .relativeColumnBox .smallFlexBox a:nth-child(2) {
    margin-left: 2rem;
  }
}
@media (max-width: 1160px) {
  .relativeColumnBox .smallFlexBox .homeButton {
    width: 45%;
  }
}
/* Wide screen tv */
@media (max-width: 1360px) and (max-height: 605px) {
  .relativeColumnBox .smallFlexBox .iconContainer {
    margin-bottom: 0;
  }
  .relativeColumnBox .modal {
    top: -100px;
  }

  .scrollingBackground {
    background-image: linear-gradient(to bottom, rgba(23, 162, 170, 0) 0%, rgba(23, 162, 170, 0.2) 100%), url(https://images.unsplash.com/photo-1612344801383-ee65e6e5e4a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-blend-mode: multiply;
    background-size: cover;
    opacity: 0.3;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .smoke::before {
    opacity: 1;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 1030px) {
  .smallFlexBox button.tealContactButton {
    width: 60%;
  }

  header .navBox nav {
    width: 75%;
  }

  .relativeColumnBox .smallFlexBox .homeButton {
    width: 50%;
  }

  .modal {
    padding: 20px 12px 9px 20px;
  }

  .pageNotFoundMain + footer {
    margin-top: 50px;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 1024px) and (max-height: 640px) {
  .splash .relativeColumnBox .smallFlexBox .tealContactButton.homeButton:hover {
    padding: 16px 3px !important;
  }
}
/* Large Text Resolution Screens */
@media (max-width: 1024px) and (max-height: 640px) {
  .splash h1 {
    font-size: 1.7rem;
  }

  .splash .animate__backInLeft {
    font-size: 1.5rem;
  }

  .splash h1 {
    margin-bottom: 7px;
  }

  .relativeColumnBox .smallFlexBox .homeButton {
    font-size: 0.9rem;
    padding: 18px 5px;
  }

  .contactWrapper .contactIcons {
    font-size: 1.8rem;
  }

  .modal {
    top: -100px;
  }
}
@media (max-width: 1020px) {
  .aboutMain + footer .bottom,
.projectsMain + footer .bottom,
.skillsMain + footer .bottom,
.pageNotFoundMain + footer .bottom {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .homeMain + footer .bottom a {
    max-width: 12%;
    padding-top: 2px;
  }

  .contactWrapper,
.modal {
    max-height: 100%;
    padding-top: 2px;
    width: 100%;
  }
  .contactWrapper .modalClose,
.modal .modalClose {
    bottom: 0;
    top: 5px;
  }
  .contactWrapper form .inputBox,
.modal form .inputBox {
    align-items: flex-start;
    flex-direction: column;
  }
  .contactWrapper form .inputBox input,
.modal form .inputBox input {
    width: 100%;
  }
  .contactWrapper form .inputBox input[name=name],
.modal form .inputBox input[name=name] {
    margin-right: 0;
  }
  .contactWrapper form .contactFormButton,
.modal form .contactFormButton {
    margin-top: 2px;
  }
}
@media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 700px) {
  .modal {
    bottom: 0;
    min-height: 550px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 780px) {
  .modal {
    left: 0;
  }

  .modal {
    max-width: 100%;
    min-height: 565px;
  }
  .modal form .contactFormButton {
    margin-top: 8px;
    width: 56%;
  }

  .line {
    margin: -9px 0 0;
  }

  .about,
.skills,
.projects,
.errorSection {
    padding-top: 200px !important;
  }

  .about > .wrapper {
    align-items: center;
    flex-direction: column;
  }
  .about > .wrapper .about1 {
    align-items: center;
    width: 100%;
  }
  .about > .wrapper .about1 > div {
    width: 75%;
  }
  .about > .wrapper .about1 figure {
    align-items: center;
    max-width: 55%;
  }
  .about > .wrapper .about2 {
    width: 90%;
  }
  .about > .wrapper .about2 p {
    align-self: flex-end;
    width: 90%;
  }

  .splash .smallFlexBox {
    margin-top: 20px;
    width: 100%;
  }
  .splash .smallFlexBox .iconContainer {
    display: none;
  }

  .relativeColumnBox .smallFlexBox .homeButton {
    width: 40%;
  }

  header .favLink {
    display: none;
  }
  header .navBox {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  header .navBox nav {
    width: 100%;
  }
  header .navBox nav ul.mainNavList {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  header .navBox nav ul.mainNavList li {
    display: flex;
  }
  header .navBox nav ul.mainNavList li .aboutLink .me {
    display: none;
  }
  header .navBox nav ul.mainNavList li .aboutLink .sr-only {
    display: inline;
  }
  header .navBox nav ul.mainNavList .col2 {
    padding-left: 35px;
  }
  header .navBox nav .contactIcons {
    display: none;
  }

  .projects {
    padding: 85px 0 40px;
  }
  .projects .projectBox {
    flex-direction: column;
  }
  .projects .projectBox .imgBox img {
    margin-top: 50px;
  }
  .projects .projectBox .imgBox .oval {
    display: none;
  }
  .projects .projectBox .projectInfo a:last-of-type {
    margin-left: 30px;
    margin-right: auto;
  }
  .projects .projectBox .projectInfo a:first-of-type {
    margin-left: auto;
    margin-right: 30px;
  }

  .projectInfo p {
    margin-bottom: 50px;
  }

  .projectInfo:nth-child(even),
.projectInfo:nth-child(odd) {
    padding: 0;
    text-align: center;
  }

  .projectBox:nth-child(even) {
    flex-direction: column-reverse;
  }

  .homeMain + footer {
    width: initial;
  }

  footer {
    padding: 0 0 20px;
  }

  .splash .smallFlexBox {
    margin-top: 0;
  }

  .errorHeader {
    height: 21vh;
    padding: 30px 0;
  }

  .errorSection {
    padding: 0;
  }
  .errorSection .errorContentBox {
    flex-direction: column;
    justify-content: center;
    margin: 40px auto 0px;
  }
  .errorSection .errorContentBox .errorIcon {
    max-width: 40%;
  }
  .errorSection .errorContentBox .errorP {
    margin: 40px auto 50px;
    text-align: center;
  }
}
@media (max-width: 780px) and (max-height: 575px) {
  .homeMain + footer {
    display: none !important;
  }

  .modal {
    top: 0;
  }

  .splash .smallFlexBox {
    margin-top: 50px;
  }
}
@media (max-width: 680px) {
  .aboutMain + footer,
.projectsMain + footer,
.skillsMain + footer,
.pageNotFoundMain + footer {
    flex-direction: column;
    align-items: center;
  }
  .aboutMain + footer .bottom,
.projectsMain + footer .bottom,
.skillsMain + footer .bottom,
.pageNotFoundMain + footer .bottom {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .aboutMain + footer .bottom p,
.projectsMain + footer .bottom p,
.skillsMain + footer .bottom p,
.pageNotFoundMain + footer .bottom p {
    padding: 0;
  }
  .aboutMain + footer .bottom a,
.projectsMain + footer .bottom a,
.skillsMain + footer .bottom a,
.pageNotFoundMain + footer .bottom a {
    margin: 0;
  }

  .homeMain + footer .bottom p {
    padding: 0;
    margin: 0 20px;
  }

  .modal {
    bottom: 10%;
  }
}
/* Medium phones and down */
@media (max-width: 650px) {
  header {
    padding-bottom: 140px;
  }

  .line {
    margin: -9px 0 0;
  }

  .about1 > p:nth-child(2) {
    font-size: 2rem;
  }

  h2.target:nth-child(3) {
    font-size: 2rem;
  }

  p.target:nth-child(1) {
    font-size: 1.2rem;
    padding-top: 20px;
  }

  .relativeColumnBox .smallFlexBox .homeButton {
    width: 46%;
  }

  .about > .wrapper .about1 {
    align-items: flex-start;
  }
  .about > .wrapper .about1 > div {
    margin-top: 0;
    width: 100%;
  }
  .about > .wrapper .about1 figure {
    max-width: 82%;
    align-items: flex-start;
  }
  .about > .wrapper .about2 {
    width: 100%;
  }
  .about > .wrapper .about2 p {
    width: 100%;
  }

  .skillsGallery {
    grid-template-columns: 1fr 1fr;
  }
  .skillsGallery p {
    font-size: 18px;
  }

  .splash .smallFlexBox {
    height: 45vh;
  }

  header .navBox {
    margin-top: 20px;
  }

  .modal {
    bottom: 10%;
    min-width: 100%;
  }

  .homeMain + footer .bottom a {
    align-self: flex-end;
    margin: 0;
    max-width: 17%;
  }
}
@media screen and (orientation: landscape) and (max-width: 640px) and (max-height: 360px) {
  .splash .relativeColumnBox h1 {
    font-size: 1.6rem;
    margin: 55px 0 0;
  }

  .modal {
    bottom: auto;
    top: -100px;
    min-height: 552px;
    padding: 11px 12px 9px 20px;
  }

  .smallFlexBox {
    position: relative;
  }
  .smallFlexBox p.animate__backInLeft {
    font-size: 1.4rem;
  }
  .smallFlexBox button.tealContactButton {
    position: absolute;
    right: 0;
    width: 25%;
  }
  .smallFlexBox button.tealContactButton .me {
    display: none;
  }
  .smallFlexBox button.tealContactButton .fa-long-arrow-alt-right {
    display: none;
  }

  .about {
    padding-top: 115px;
  }

  footer .contactWrapper {
    padding: 65px 0 60px;
  }

  .splash .relativeColumnBox .smallFlexBox .tealContactButton {
    left: 75%;
    top: 55%;
    padding: 15px 0;
    width: 30%;
  }
  .splash .contactWrapper {
    display: none;
  }
}
@media screen and (hover: hover) and (pointer: fine) and (orientation: landscape) and (max-width: 640px) and (max-height: 360px) {
  .splash .relativeColumnBox .smallFlexBox .tealContactButton.homeButton:hover {
    padding: 14px 0 !important;
  }
}
@media (max-width: 620px) {
  .relativeColumnBox .smallFlexBox .homeButton {
    width: 44%;
  }
}
/* Small phones */
@media (max-width: 500px) {
  header {
    font-size: 0.8rem;
    background-position-x: -33vw;
  }
  header a {
    font-size: 0.95rem;
  }
  header nav {
    letter-spacing: 1.5px;
  }

  .smallFlexBox button.tealContactButton {
    font-size: 0.8rem;
    padding: 15px 0;
  }

  .projectInfo:nth-child(even),
.projectInfo:nth-child(odd) {
    text-align: left;
  }

  .homeMain + footer {
    align-items: center;
    left: 0;
    right: auto;
  }
  .homeMain + footer .bottom {
    align-items: flex-start;
    justify-content: space-between;
  }
  .homeMain + footer .bottom .webDeveloper {
    display: block;
  }
  .homeMain + footer .bottom .verticalLine {
    display: none;
  }
  .homeMain + footer .bottom p {
    margin: 0;
  }

  .formBackground .fieldsetBox {
    padding: 0 11px;
  }
}
@media (min-width: 410px) and (min-height: 875px) {
  header .navBox nav ul a {
    font-size: 1.4rem;
  }

  .relativeColumnBox .smallFlexBox .homeButton {
    font-size: 1.1rem;
  }

  .splash .outlined {
    font-size: 1.8rem;
  }
  .splash .contactWrapper a {
    font-size: 2.4rem;
  }

  .homeMain footer .bottom {
    flex-direction: row;
  }

  footer .bottom a {
    font-size: 1.1rem;
  }
  footer .bottom a svg {
    font-size: 0.9rem;
  }
}
@media (min-width: 410px) and (min-height: 760px) {
  .relativeColumnBox .smallFlexBox .homeButton {
    font-size: 1.1rem;
    margin: 20px 0;
  }
}
/* Smallest phones */
@media (max-width: 365px) and (max-height: 640px) {
  h1 {
    font-size: 1.8rem;
  }

  header .navBox {
    margin-top: 10px;
  }
  header .navBox nav ul li a {
    font-size: 0.8rem;
  }

  .splash .contactWrapper {
    display: none;
  }

  .smallFlexBox span.animate__backInLeft {
    font-size: 1.5rem;
  }

  .formBackground {
    padding: 30px 0px 30px 11px;
  }
  .formBackground form {
    width: 95%;
  }

  footer {
    flex-direction: column;
  }
  footer .contactWrapper {
    align-items: flex-start;
    margin: 10px 0;
    width: 320px;
  }
  footer .contactWrapper > a {
    font-size: 0.8rem;
  }
  footer .bottom {
    width: initial;
  }

  .aboutMain + footer .bottom p,
.projectsMain + footer .bottom p,
.skillsMain + footer .bottom p,
.pageNotFoundMain + footer .bottom p {
    padding: 0;
  }
  .aboutMain + footer .bottom p span,
.projectsMain + footer .bottom p span,
.skillsMain + footer .bottom p span,
.pageNotFoundMain + footer .bottom p span {
    display: none;
  }
  .aboutMain + footer .bottom p .webDeveloper,
.projectsMain + footer .bottom p .webDeveloper,
.skillsMain + footer .bottom p .webDeveloper,
.pageNotFoundMain + footer .bottom p .webDeveloper {
    display: block;
  }

  .modal {
    min-width: 300px;
    top: 0;
  }
  .modal form .fieldsetBox {
    width: 87%;
    padding: 0;
    margin: 0 0 0 10px;
  }
  .modal form .contactFormButton {
    width: 67%;
  }
}
@media (max-width: 350px) {
  .modal {
    min-width: 285px !important;
  }
  .modal form .fieldsetBox {
    padding-top: 10px;
    margin: 0 15px;
    width: 70%;
  }
}
@media (hover: hover) and (pointer: fine) {
  header .navBox nav ul.mainNavList a:hover {
    outline: none;
  }
  header .navBox nav ul.mainNavList a:hover::after {
    width: 100%;
  }
  header .navBox nav ul.mainNavList a:active::after {
    transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    width: 0;
  }

  .splash .relativeColumnBox .smallFlexBox a:hover .target {
    text-decoration: underline;
  }
  .splash .relativeColumnBox .smallFlexBox a:active .target {
    text-decoration: none;
  }
  .splash .relativeColumnBox .smallFlexBox a:active {
    outline: none;
  }
  .splash .relativeColumnBox .smallFlexBox .contactIcons a:hover svg {
    box-shadow: rgba(23, 162, 170, 0.5) 0px 0px 20px 0px;
    color: #17a2aa;
  }
  .splash .relativeColumnBox .smallFlexBox .contactIcons a:active svg {
    color: #e5e8ee;
  }
  .splash .relativeColumnBox .smallFlexBox .contactIcons a:active {
    outline: none;
  }
  .splash .relativeColumnBox .smallFlexBox .tealContactButton:hover {
    box-shadow: rgba(23, 162, 170, 0.5) 0px 0px 20px 0px;
    padding: 20px 3px;
  }

  .projectInfo a:hover {
    opacity: 0.6;
  }
  .projectInfo a:active {
    opacity: 1;
  }

  .imgBox > a:hover > img {
    transition: border-top 0.5s;
  }

  .imgBox > a:active > img {
    z-index: auto;
  }

  .skillsGallery li:hover .skillsIconBox:hover {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }

  footer .contactWrapper a:active {
    outline: none;
  }
  footer .contactWrapper .fa-linkedin:hover,
footer .contactWrapper .fa-github:hover {
    color: #17a2aa;
  }
  footer .bottom .resume:active svg {
    transform: translateY(2px);
  }

  button.modalClose:active {
    transform: translateY(2px);
    outline: none !important;
  }

  button.modalClose:focus {
    outline: 2px solid #17a2aa;
  }
}
@media (prefers-color-scheme: dark) and (hover: hover) and (pointer: fine) {
  .splash .tealContactButton:hover {
    border: 2px solid #e5e8ee;
  }

  .imgBox > a:hover > img {
    border-top: 14px ridge #e5e8ee;
  }

  .imgBox > a:active > img {
    border-top: 14px ridge #17a2aa;
  }

  .imgBox > a:focus > img {
    border-top: 14px ridge #17a2aa;
  }

  footer .contactWrapper > a:hover {
    color: #e5e8ee;
  }
  footer .contactWrapper > a:active {
    color: #17a2aa;
  }
  footer .contactWrapper .fa-linkedin:active,
footer .contactWrapper .fa-github:active {
    color: #e5e8ee;
  }
  footer .bottom a:hover {
    color: #e5e8ee;
  }
  footer .bottom .resume:active {
    color: #e5e8ee;
  }

  .errorNav ul li a:hover {
    color: #17a2aa;
  }
  .errorNav ul li a:hover + i {
    color: #e5e8ee;
  }
}
@media (prefers-color-scheme: light) and (hover: hover) and (pointer: fine) {
  .splash .relativeColumnBox .smallFlexBox .tealContactButton:hover {
    border: 2px solid #00050f;
  }
  .splash .relativeColumnBox .smallFlexBox .contactIcons a:active svg {
    color: #00050f;
  }

  .imgBox > a:hover > img {
    border-top: 14px ridge #126368;
  }

  .imgBox > a:active > img {
    border-top: 14px ridge #17a2aa;
  }

  .imgBox > a:focus > img {
    border-top: 14px ridge #17a2aa;
  }

  footer .contactWrapper > a:hover {
    color: #00050f;
  }
  footer .contactWrapper > a:active {
    color: #17a2aa;
  }
  footer .contactWrapper a:focus {
    outline-color: #00050f;
  }
  footer .contactWrapper .fa-linkedin:active,
footer .contactWrapper .fa-github:active {
    color: #00050f;
  }
  footer .bottom a:hover {
    color: #00050f;
  }
  footer .bottom .resume:active {
    color: #00050f;
  }

  .errorNav ul li a:hover {
    color: #17a2aa;
  }
  .errorNav ul li a:hover + i {
    color: #00050f;
  }
}
@media (prefers-color-scheme: light) {
  h1,
h2,
h3,
nav ul,
.subtleTextShadow {
    text-shadow: 0 0 1000px rgba(192, 219, 255, 0.38), 0 0 12px rgba(65, 109, 255, 0.17);
  }

  .splash .galaxy {
    display: none;
  }

  .subtleTextGradient {
    background: linear-gradient(180deg, black 20%, #00050f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  html {
    background: #e5e8ee;
  }

  a:focus,
button:focus {
    outline: 2px solid #00050f;
  }

  header .favLink:focus img {
    outline: 2px solid #00050f;
  }

  .contactComponent {
    color: #00050f;
  }

  .splash .lightHeroElements {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  .splash .contactWrapper a {
    color: #00050f;
  }
  .splash h1,
.splash h2,
.splash p {
    color: #00050f;
  }
  .splash .smallFlexBox a:focus {
    outline: 2px solid #00050f;
  }

  .about {
    box-shadow: 1px -6px 15px -17px rgba(0, 0, 0, 0.82);
  }

  .projects {
    background: #e5e8ee;
  }
  .projects .wrapper.flexBox h2 {
    color: #00050f;
  }

  .projectInfo h3,
.projectInfo h4,
.projectInfo h5,
.projectInfo p {
    color: #00050f;
  }
  .projectInfo a {
    background: #17a2aa;
    color: #00050f;
  }
  .projectInfo p,
.projectInfo h3,
.projectInfo h4 {
    text-shadow: none;
  }

  footer,
footer p {
    color: #00050f;
  }

  footer {
    background: #e5e8ee;
    border-top: 1px solid #00050f;
  }
  footer .contactWrapper > a {
    font-weight: 500;
  }
  footer .contactWrapper a:focus {
    outline: 2px solid #00050f;
  }
  footer .bottom a {
    text-shadow: 0 0 1000px rgba(192, 219, 255, 0.38), 0 0 12px rgba(65, 109, 255, 0.17);
  }
  footer .bottom .resume svg,
footer .bottom .resume:active svg,
footer .bottom .resume:hover svg {
    color: #00050f;
  }

  .errorHeader {
    background-image: none;
  }
  .errorHeader .background {
    display: block;
  }

  .errorSection h1 {
    color: #00050f;
  }

  .errorP {
    color: #00050f;
  }

  .errorNav ul li a {
    color: #00050f;
  }
  .errorNav ul li a:active {
    color: #00050f;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background: #00050f;
  }

  h1,
h2,
h3,
nav ul,
.subtleTextShadow {
    text-shadow: 0 0 1000px rgba(192, 219, 255, 0.38), 0 0 12px rgba(65, 120, 255, 0.24);
  }

  .aboutMain h1,
.aboutMain h2,
.aboutMain h3,
.aboutMain nav ul,
.aboutMain .subtleTextShadow,
.skillsMain h1,
.skillsMain h2,
.skillsMain h3,
.skillsMain nav ul,
.skillsMain .subtleTextShadow {
    text-shadow: 0 0 1000px rgba(192, 219, 255, 0.38), 0 0 12px rgba(65, 109, 255, 0.17);
  }

  .splash .lightHeroElements {
    display: none;
  }

  .subtleTextGradient {
    background: linear-gradient(180deg, white 20%, #e5e8ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a:focus,
button:focus {
    outline: 2px solid #e5e8ee;
  }

  header .relativeColumnBox .smallFlexBox a:focus {
    outline: 2px solid #e5e8ee;
  }

  .splash {
    background-image: url("https://res.cloudinary.com/riley-hoffman-web-developer/image/upload/q_auto:best/v1642797068/portfolio-background_jiw8ft.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .splash .contactWrapper a {
    color: #e5e8ee;
  }
  .splash h1,
.splash h2,
.splash h1 span {
    color: #e5e8ee;
  }
  .splash .relativeColumnBox .smallFlexBox a:focus {
    outline: 2px solid #e5e8ee;
  }

  .projects {
    background: #00050f;
  }
  .projects .wrapper.flexBox h1,
.projects .wrapper.flexBox h2 {
    color: #e5e8ee;
  }

  .projectInfo h3,
.projectInfo h4,
.projectInfo h5,
.projectInfo p {
    color: #e5e8ee;
  }
  .projectInfo a {
    background: #e5e8ee;
    color: #245056;
  }
  .projectInfo p,
.projectInfo h3,
.projectInfo h4 {
    text-shadow: 3px 3px 5px #00050f;
  }

  footer,
footer p {
    color: #e5e8ee;
  }

  footer {
    background: #00050f;
  }
  footer .contactWrapper a:focus {
    outline: 2px solid #e5e8ee;
  }
  footer .bottom a {
    text-shadow: 0 0 1000px rgba(192, 219, 255, 0.38), 0 0 12px rgba(65, 120, 255, 0.24);
  }
  footer .bottom .resume svg,
footer .bottom .resume:active svg,
footer .bottom .resume:hover svg {
    color: #e5e8ee;
  }

  .errorSection h1 {
    color: #e5e8ee;
  }

  .errorP {
    color: #e5e8ee;
  }

  .errorNav ul li a {
    color: #e5e8ee;
  }
  .errorNav ul li a:active {
    color: #e5e8ee;
  }
}
@media (prefers-reduced-motion: reduce) {
  .animate__backInLeft {
    -webkit-animation: none;
            animation: none;
  }

  .skillsGallery li:hover div.skillsIconBox:hover {
    -webkit-animation: none;
            animation: none;
  }

  .galaxy,
.stars {
    -webkit-animation: none !important;
            animation: none !important;
  }
}
@media (prefers-reduced-motion: reduce) and (hover: hover) and (pointer: fine) {
  header {
    background-attachment: local;
  }
  header .navBox nav ul.mainNavList a:hover::after,
header .navBox nav ul.mainNavList a:focus::after {
    width: 0%;
  }
  header .navBox nav ul.mainNavList a:hover,
header .navBox nav ul.mainNavList a:focus {
    border-bottom: 2px solid #17a2aa;
  }
  header .navBox nav ul.mainNavList a:active {
    border-bottom: none;
  }

  .imgBox > a:hover > img,
.imgBox > a:focus > img {
    border-top: 8px ridge #e5e8ee;
  }
}
footer .bottom a:active {
  color: #17a2aa;
}
footer .bottom a:active svg {
  transform: none;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotateY(180);
    -webkit-transform: rotateY(180);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
}
@-webkit-keyframes MoveUpDown {
  from {
    bottom: -100px;
  }
  to {
    bottom: 10px;
  }
}
@keyframes MoveUpDown {
  from {
    bottom: -100px;
  }
  to {
    bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */